# Секреты
.env
config.py
deploy/env_server.txt
deploy/deploy.py

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# База данных
*.db
*.sqlite3

# Загруженные файлы
static/uploads/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
